<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hhru</title>
</head>
<body bgcolor="lightblue">
<a href="https://www.aviasales.ru/">
  <img src="https://png.pngtree.com/png-vector/20250317/ourmid/pngtree-adorable-tabby-kitten-portrait-png-image_15756788.png" alt="Описание кнопки" width="200" style="top:401px">
</a>
<!-- <a href="https://unicode.bootstrap-4.ru/alt-codes/">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9JkemPQjVej6z5RaPamLse21gKgYQOK7zxQ&s" alt="Описание кнопки" width="200">
</a>-->
<img src="https://99px.ru/sstorage/86/2016/06/image_860406162321041485433.gif" alt="Анимация GIF" width="1000">
<!--<iframe width="560" height="315" src="https://youtu.be/0sRiHF_VsUA?si=yHOOHB57KWTONTwo" frameborder="0" allowfullscreen></iframe>-->
<video width="400" controls>
  <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">
</video>
</body>
</html>