<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MPSH</title>
</head>
<body bgcolor="lightblue">

<a href="https://www.aviasales.ru/">
  <img src="https://png.pngtree.com/png-vector/20241030/ourmid/pngtree-cat-vector-clipart-png-image_14198718.png" alt="Описание кнопки" width="200">
</a>
<a href="https://unicode.bootstrap-4.ru/alt-codes/">
  <img src="https://png.pngtree.com/png-vector/20250317/ourmid/pngtree-adorable-tabby-kitten-portrait-png-image_15756788.png" alt="Описание кнопки" width="200">
</a>
</body>
</html>